/** Watch the Med CSS
Copyright 2013 Etherton Techonologies Ltd.
*/

/** stuff from the Unicorn theme by Caleb Bell**/


@font-face
{
    font-family:Agile-Light;
    src: url(Agile-Light.woff);
}

@font-face
{
    font-family:Agile-Bold;
    src: url(Agile-Bold.woff);
}

/* Theme Settings
--------------------*/
  /* Primary Color */
  h1, a,
  table.table-list tbody tr td a,
  .hover .r_details h3 a.r_title,
  div.footermenu ul li a,
  div.search-form input.text  { color: #333; font-family: Agile-light; font-size: 16px;}
  a:hover{color:inherit; text-decoration: underline;}
  div.search-form input.text:focus { border-color: #d24836; }
  div.submit-incident a, .btn_submit,
  div.filters ul li a:hover, div.filters ul li a.active,
  ul.category-filters li a.active { background-color:#d24836; color:white;}
  ul.category-filters li a:hover { background-color:inherit; color:black;}  
  ul.content-column li{padding:14px;}
  
  /* Lighter Primary Color - for hover effects */
  div#loggedin_user_action a, div#loggedin_user_action a:visited { color:#d25e4f; }
  div.submit-incident a:hover, .btn_submit:hover,
  div.search-form input.searchbtn,
  div#mainmenu ul li a:hover,
  div#mainmenu a.active {}



/* general styles */
h1 {
  
}
h2 {
  
}
h5, h4 {
  
}



/* structural divs */
body#page { background:#e4e1dd url(../images/background4.gif) repeat;}
div#middle {background : none;}
div.content-container {background:none;}


.big-block { }
.page-main #main { 
    padding:0px 0px; 
    position:relative;
    top: -91px;
}

/* top-bar */
#top-bar {
  width: 960px;
  background: #3d3c3b;
  height: 40px;
  position: relative;
  margin:0 auto;
}
div#searchbox {
  position: relative;
  right: -765px;
  border: none;
  background: transparent;
  width: auto;
  top:-3px;
  z-index: 10000;
}

div.search-form, div.search-form ul li{
    float:none;
}



div#loggedin_user_action {
  float: left;
  width: auto;
}
div#loggedin_user_action a, div#loggedin_user_action a:visited {
  font-weight: bold;
  padding: 6px;
  margin-top: 2px;
  width: auto;
  display: block;
  float: left;
  color:#5396ff;
}
div.search-form input.text {
  border: none;
  padding: 0px 0px 0px 0px;
  box-shadow: 1px 1px 1px #999;
  height:30px;
  background: white url(../images/searchZoom.png) left no-repeat;
  padding-left: 30px;

}
div.search-form input.text:focus {
  border: 1px solid;
}
div.search-form input.searchbtn {
  width: auto;
  height: auto;
  border: 0;
  text-indent: 0;
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  background-image:none;
  background-color:#3764AA;
  margin-left: 10px;
  line-height: 17px;
  padding: 2px 5px 3px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #424242;
  display:none;
}



/* header */
div#header { height:auto; margin:18px 0; }

/* logo box */
div#logo {
  background-color: transparent;
  float:none;
  padding: 0;
  margin: 0;
}
div#logo h1 a {
  color: #222222;
  font-size: 28px;
}
div#logo span {
  font-style: italic;
  color: #999;
  font-family: 'Georgia', serif;
}

/* submit report button */
div.submit-incident { margin:0; top:20%; }
div.submit-incident a, .btn_submit {
  text-shadow: 1px 1px 0 #424242;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#submitAReport{
    position:relative;
    top:46px;
    
}

/* primary nav */
div#mainmenu { 
    border:none; 
    padding: 0 10px 0 10px; 
    height:163px; 
    background: no-repeat  url('../images/logo.png');
    background-position: center;
    
}
div#mainmenu ul {  
  padding: 7px 0 7px 0;
}
div#mainmenu ul li {
  margin:0 0 0 0;
}
div#mainmenu ul li a { 
    font-family: Agile-Bold; 
    color:#333; 
    font-size: 16px;
    word-spacing: normal;
    text-align: left;
    letter-spacing: 0;
    line-height: 16px;    
    font-weight: normal;
    padding-bottom: 5px;
}

div#mainmenu ul li a:hover{
    color:black;
}

div#mainmenu ul li a:hover, div#mainmenu a.active {
  background: none;
  border-bottom:5px solid #80797c;
}
div#mainmenu a{
    padding:0px 0px;
    margin:7px 5px;
}
#mainMenuRight{
	float:right;
}
#mainMenuLeft{
	float:left;
}

/* filter box */
#report-map-filter-box { position:relative; z-index:1000; left:729px; top:68px; }



div#right { position:absolute; z-index:1000; }

.map-menu-box {
  position:absolute;
  overflow:auto;
  background:#f9f7f8;
  -moz-border-radius: 3px; -webkit-border-radius: 3px; 
  -moz-box-shadow:0px 1px 1.5px #424041; -webkit-box-shadow:0px 1px 1.5px #424041; box-shadow:0px 1px 1.5px #424041;
  filter: progid:DXImageTransform.Microsoft.Shadow(strength=1.5, direction=180, color='#424041');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=1.5, Direction=180, Color='#424041')";
}
#the-filters { 
  width:225px;
  display:none; 
  background: none;
  font-family: Agile-Bold;
  -moz-border-radius: 0px; 
  -webkit-border-radius: 0px; 
  border-radius: 0px;
  left:-5px;
  
}

#the-filters h3 { font-size:10px; color:#605f5d; text-transform:uppercase; margin-bottom:5px; }
  
  /* type and category toggle button */
  #filter-menu-toggle,
  #layers-menu-toggle{ 
      
    position:relative; 
    top:0px; 
    left:0px; 
    width:183px; 
    background: rgba(255,255,255,0.75);
    border-radius: 0px;
    -webkit-border-radius:px;
    border-radius:3px;
    font-size:16px;
    padding-left:37px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:0px;
    
  }
  
  /* home page category filter */
  .page-main #report-category-filter { padding:0px; float:left; width:225px; }
  .page-main ul.category-filters { background:none; border:0; padding:0}
  .page-main ul.category-filters li { 
      display:block; 
      list-style-type:none; 
      overflow:auto;       
      margin: 0px;
      padding-left:5px;
      background: none;
  }
    .page-main ul.category-filters li li { clear:left; overflow:hidden;}
  .page-main ul.category-filters li a,
  .right-col div#layers-box li a{ 
      border:none;
      border-top: solid 1px #666;
      overflow:visible;
      font-family:Agile-Light;
      font-weight: normal;
      font-size:12px; 
      text-transform: none;
      padding:0px 0px 0px 0px; 
      -moz-border-radius: 0px; 
      -webkit-border-radius: 0px; 
      float:left; 
      background-color:rgba(255,255,255,0.75);
      }
  
      
  .page-main .swatch, .page-main .item-swatch { 
      border:none;
      -moz-border-radius: 0px; 
      -webkit-border-radius: 0px; }
  
  .page-main ul.category-filters li a:hover,
  .right-col div#layers-box li a:hover{
      color:black;      
  }
  .page-main ul.category-filters li a.active,
  .right-col div#layers-box li a.active{ 
      background-color:white;  
      color:black;      
  }
  
  /* home page report type filters */
  #report-type-filter { overflow:auto; padding:5px; margin:0; } 
  div.filters ul li { float:none; margin-bottom:2px; display:block; overflow:auto; }
  div.filters ul li a { color:#000; font-weight:bold; padding:3px 5px 2px; margin:1px; font-size:10px; display:block; float:left; }
  div.filters ul li a span { font-size:10px; }
  div.filters ul li a:hover, div.filters ul li a.active { -moz-border-radius: 3px; -webkit-border-radius: 3px; display:block; float:left; padding:3px 5px 2px; background:none; border:1px solid #c2c2c2; color:inherit; margin:0; }

  /* KML layers & Other Deployments */
  /*toggle buttons */
  #other-deployments-menu-toggle { position:absolute; top:20px; left:322px; width:130px; }
  #how-to-report-menu-toggle { position:absolute; top:20px; left:780px; width:100px; }
  
  #kml_switch,
  #sharing_switch,
  #how-to-report-box { display:none; position:absolute;  padding:5px; left:0px; background:none; width:175px;}
  #sharing_switch { left:322px; }
  #how-to-report-box { left:724px; padding-top:10px; }
    #how-to-report-box ol { margin-left:22px; }
    #how-to-report-box ol li { margin-bottom:5px; }
 #kml_switch{
     width:220px;
     padding:0px;
     overflow:visible;
 }
 ul#kml_switch li{
     padding-left: 0px;
     overflow:visible;
 }
 ul#kml_switch li a{
     width:220px;
     background-image: url(../images/smallDownTriangle.png);
     background-repeat: no-repeat;
     background-position: 198px 11px;
 }
 

 
 ul#kml_switch li a.active{
     background-image: url(../images/smallUpTriangle.png);
 }
 #layer_meta_window{
     display:none;
     border: solid 1px #333;
     padding: 3px;
     width:217px;
     border:none;
     border-top: solid 1px #666;
     background: #e1e2e4;
 }
  

/* home page map */
div.map { width:auto; border:none; border-top:0; position:relative; }
div.map.timeline-enabled {height:529px; }
#mapStatus { 
    width:270px; float:none; overflow:auto; 
    position: relative;
    top: -40px;
    left:217px;
    font-family:Agile-Light;
    font-weight:bold;
    font-size:13px;
    text-transform: uppercase;
    background: rgba(255,255,255,0.75);

}

div#mapStatus div{
    padding: 6px;
}
div#mapStatus div#mapProjection{
    display:none;
}

div#mapStatus div#mapOutput{
    display:none;
}

div#mapStatus div#mapMousePosition{
    border:none;
}


/* home page timeline */
div.slider-holder,
div.graph-holder {  }

/* home page nav bar */
#top-bar {display:none;}
.submit-incident {display: none;}
#header {display:none;}
/*#header_nav {display:none;}*/
/* home page how to report */
div.additional-content { display:none; }

/* Home Page Twitter / Mainstream News blocks */
div.content-container { background:transparent; padding:0px; }

div.content-block { position:relative; margin:0 18px; background:#eeedea; }
div.content-block h5 { float:left; position:absolute; top:-18px; left:-18px; padding:5px; border:7px solid #fff; background:#529bf5; }
div.content-block h5 span { display:none; }
div.content-block .table-list { margin-top:18px; }
table.table-list thead th.date { width:20%; }


/* reports listing page */
#content .big-block { border:1px solid #fff; border-top:0; margin:0 10px; background:#EEEDEA; padding:18px; }
#reports-box { }
#rb_list-view .rb_report {
  background: #fff;
}

/* single report page */
div#main { padding:15px 10px; }
#main .left-col { background:#EEEDEA; position:relative; padding:35px 10px 10px; margin:4px 0 0 18px; width:525px; }



.left-col h1.report-title { float:left; position:absolute; top:-18px; left:-18px; padding:5px; border:7px solid #fff; background:#529bf5; color:#fff; }

.report_detail .r_verified { position:absolute; top:10px; right:18px;  }

div.report-additional-reports { background:#EEEDEA; position:relative; padding:35px 10px 10px; margin-left:18px; }
div.report-additional-reports h4 { position:absolute; float:left; top:-18px; left:-18px; padding:5px; border:7px solid #fff; background:#529bf5; color:#fff; }
div.report-additional-reports h5 { font-family: Arial, sans-serif;  }

/* reports page */
.report_right { width:450px;}

/* get alerts page */
.step-1 h2 {
  padding: 0;
}
/* footer */
div#footer {
  margin-top:20px;
  background: none;
}
div#underfooter { background:transparent; }


div.footermenu ul li a {
  font-family: Agile-Bold;
  color: #333;
  border-left: 1px solid #333;
  font-size:13px;
  text-decoration:none;
}
.additional-credits {
  margin-top: 18px;
}

/* button styles */
a.btn {
	font-family: Agile-Bold; 
	text-transform:uppercase;
    cursor: pointer;
    display: inline-block;
    background: rgba(255,255,255,0.5);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(150, 150, 150, 0.80);
    color: #000;
    font-size: 13px;
    line-height: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

a.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

span.btn-icon { display:block; position:absolute; height:16px; width:20px; overflow:hidden; text-indent:-234324px; top:6px; right:5px; }
  .ic-right     { background:transparent url(../images/bg_category-filter-controls.png) -29px -25px no-repeat; }
  .ic-down      { background:transparent url(../images/bg_category-filter-controls.png) -29px -41px no-repeat; }
  .ic-question  { background:transparent url(../images/bg_category-filter-controls.png) 0px -49px no-repeat; }
  
  /* active state */
  .active-toggle .ic-right { background:transparent url(../images/bg_category-filter-controls.png) -29px -41px no-repeat; }


/** Original stuff **/
div.layer_meta_data{ 
	margin:5px;
	padding:5px;
	border:solid 1px #999;
	display:none;
	}
	
ul#kml_switch li:hover div.layer_meta_data{ 
	display:block;
	}

div#the-filters ul#category_switch li a,
div#the-filters ul#kml_switch li a{
    width:220px;
}


/** stuff specific to the design WTM gave us**/
div#header_nav{display:none;}

a#how-to-report-menu-toggle{display:none;}

agile_light_1em{
    font-family: Agile-Light;
    color: #333;
    text-decoration: none;
    word-spacing: normal;
    text-align: left;
    letter-spacing: 0;
    line-height: 1.6em;
    font-size: 1em;
}

.wtm_head_up{
    background: rgba(255,255,255,0.75);
    padding:14px;
    box-shadow: 1px 1px 2px #a6a29f;
}

#front-col-small .wtm_head_up{
    margin-bottom:10px;
}

h1{
    color:black;
    font-family: Georgia;
    text-decoration: none;
    word-spacing: 0.1em;
    font-size:23px;
      
}
h2{
    color:black;
    font-family: Georgia;
    text-decoration: none;
    word-spacing: 0.1em;
    font-size:18px;
}

#front-page-news{
    margin-right: 10px;
}
#front-page-news h1{
    border-bottom: 6px solid #a7e0fd;
    margin-bottom:0px;
}

#front-page-news table h1 {
    border-bottom: none;
    margin-bottom:0px;
    margin-top:0px;
}

#front-page-news table tr td{
    border-bottom: #b1b1af solid 1px;
    padding-bottom: 10px;
    padding-top:10px;
}

.front_date_cat{
    font-family: Agile-Light;
    color: #333;
    text-decoration: none;
    word-spacing: normal;
    text-align: left;
    letter-spacing: 0;
    line-height: 1.6em;
    font-size: 1em;
}

.front_teaser{
    font-family: Georgia;
    text-decoration: none;
    word-spacing: 0.1em;
    text-align: left;
    letter-spacing: 0;
    font-size: 1em;
}

img.teaser_img{
	float:left;
	width:222px;
	height:146px;
	margin-right:21px;
	}

#front_all_about div{
    font-family: Georgia;
    text-decoration: none;
    word-spacing: 0.1em;
    text-align: center;
    letter-spacing: 0;
    font-size: 14px;
    border-bottom: solid 6px #a6a29f;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom:15px;
}

#front_about h1{
    text-align: center;
    border-bottom: solid 6px #a6a29f;
}

#how_to_report_box p {
    font-family: Agile-Light;
    color: #333;
    text-decoration: none;
    word-spacing: normal;    
    letter-spacing: 0;
    line-height: 1.6em;
    font-weight: normal;
    font-size: 13px;
}

#how_to_report_box p a{    
    text-decoration: underline;
    font-family: Agile-Light;
    color: #333;
    word-spacing: normal;    
    letter-spacing: 0;
    line-height: 1.6em;
    font-weight: normal;
    font-size: 13px;
}

#front_social{
    height:53px;
}

#chicken_GroupDiv .infowindow .infowindow_image{
	float:none;
}

#chicken_GroupDiv .infowindow .infowindow_image img{
	border: none;
}

#chicken_FrameDecorationDiv_1, #chicken_close, #chicken_FrameDecorationDiv_3{
	display:none;
}

.infowindow{
	maring-top:15px;
	margin-left:15px;
	width:220px;
}

.infowindow .infowindow_content { 
	width: 240px;
}
.infowindow a, .infowindow a:hover{ 
	color: #333;
	text-decoration:none;
	font-weight:normal;
}

.infowindow a .underline{ 
	text-decoration:underline;
}

.social{
	float: left;
	margin:12px;
}

#social_facebook{
	height:27px;
	width: 15px;
	background: url('../images/social_icons.png')  -0px 0px;
	
}

#social_twitter{
	height:27px;
	width: 20px;
	background: url('../images/social_icons.png')  -33px 0px;
	
}

#social_rss{
	height:27px;
	width: 26px;
	background: url('../images/social_icons.png')  -76px 0px;
	
}

div.report-find-location div.olControlEditingToolbar div.olButton{
	
	height:31px;
	width:36px;
	border-right: solid 1px #9e9e9c;
}

div.report-find-location div.olControlEditingToolbar div.olControlDrawFeaturePointItemInactive{
	background: url('../images/edit_submit_nonselect_icons.png') -34px 0px;
}
div.report-find-location div.olControlEditingToolbar div.olControlDrawFeaturePointItemActive{
	background: url('../images/edit_submit_selected_icons.png') -34px 0px;
}

div.report-find-location div.olControlEditingToolbar div.olControlDrawFeaturePathItemInactive{
	background: url('../images/edit_submit_nonselect_icons.png') -70px 0px;
}
div.report-find-location div.olControlEditingToolbar div.olControlDrawFeaturePathItemActive{
	background: url('../images/edit_submit_selected_icons.png') -70px 0px;
}

div.report-find-location div.olControlEditingToolbar div.olControlDrawFeaturePolygonItemInactive{
	background: url('../images/edit_submit_nonselect_icons.png') -106px 0px;
}
div.report-find-location div.olControlEditingToolbar div.olControlDrawFeaturePolygonItemActive{
	background: url('../images/edit_submit_selected_icons.png') -106px 0px;
}

div.report-find-location div.olControlEditingToolbar div.elipseItemInactive{
	background: url('../images/edit_submit_nonselect_icons.png') -142px 0px;
}
div.report-find-location div.olControlEditingToolbar div.elipseItemActive{
	background: url('../images/edit_submit_selected_icons.png') -142px 0px;
}

div.report-find-location div.olControlEditingToolbar div.olControlDragPanItemInactive{
	background: url('../images/edit_submit_nonselect_icons.png') -214px 0px;
}
div.report-find-location div.olControlEditingToolbar div.olControlDragPanItemActive{
	background: url('../images/edit_submit_selected_icons.png') -214px 0px;
}

div.report-find-location div.olControlEditingToolbar div.olControlDrawFeatureCoordPointItemInactive{
	background: url('../images/edit_submit_nonselect_icons.png') 0px 0px;
}
div.report-find-location div.olControlEditingToolbar div.olControlDrawFeatureCoordPointItemActive{
	background: url('../images/edit_submit_selected_icons.png') 0px 0px;
}

div.report-find-location div.olControlEditingToolbar div.olControlDrawTextPointItemInactive{
	background: url('../images/edit_submit_nonselect_icons.png') -180px 0px;
}
div.report-find-location div.olControlEditingToolbar div.olControlDrawTextPointItemActive{
	background: url('../images/edit_submit_selected_icons.png') -180px 0px;
}

div.report-find-location div.olControlEditingToolbar div.olControlModifyResizeItemInactive{
	background: url('../images/edit_submit_nonselect_icons.png') -472px 0px;
}
div.report-find-location div.olControlEditingToolbar div.olControlModifyResizeItemActive{
	background: url('../images/edit_submit_selected_icons.png') -472px 0px;
}

div.report-find-location div.olControlEditingToolbar div.olControlModifyRotateItemInactive{
	background: url('../images/edit_submit_nonselect_icons.png') -450px 0px;
	width:26px;
}
div.report-find-location div.olControlEditingToolbar div.olControlModifyRotateItemActive{
	background: url('../images/edit_submit_selected_icons.png') -450px 0px;
	width:26px;
}

div.report-find-location div.olControlEditingToolbar div.olControlModifyVertItemInactive{
	background: url('../images/edit_submit_nonselect_icons.png') -502px 0px;
}
div.report-find-location div.olControlEditingToolbar div.olControlModifyVertItemActive{
	background: url('../images/edit_submit_selected_icons.png') -502px 0px;
}


#geometryLabeler input.short_input{
    width: 50px;
}

#hoursMinsSeconds{
    margin-top:10px;
}

.report-find-location .btns{
    padding:0px;
    margin: 5px 5px 0 0;
}

.report-find-location .btns a{
    border:none;
    height:31px;
    width:36px;
    border-right: solid 1px #9e9e9c;
    padding: 0px;
    margin: 0 0 0 0;
    float:left;
    display:block;
}

.report-find-location .btns a.btn_del_last{
    background: url('../images/edit_submit_nonselect_icons.png') -341px 0px;
}

.report-find-location .btns a.btn_undel_last{
    background: url('../images/edit_submit_nonselect_icons.png') -341px 0px;
     -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    border-left: solid 1px #9e9e9c;
    border-right:none;
}

.report-find-location .btns a.btn_del_sel{
    background: url('../images/edit_submit_nonselect_icons.png') -374px 0px;
}

.report-find-location .btns a.btn_kml_up{
    background: url('../images/edit_submit_nonselect_icons.png') -250px 0px;
    width:90px;
}


div.report-find-location #panel{
    margin: 5px 5px 0 0;
}

div#report-type-filter{
    position:relative;
    top:-73px;
    left:6px;
}

div#report-type-filter ul li {
    float: left;
    margin-right: 0px;
}

div#report-type-filter ul li a{
    font-family:Agile-Light;
    height:28px;
    display:block;
    width:32px;
    background: rgba(255,255,255,0.75);
    margin:0px;
    padding:0px;
}
div#report-type-filter ul li a:hover{
    border:none;
    -moz-border-radius:none;
    -webkit-border-radius: none;
}

div#report-type-filter ul li div{
    font-family:Agile-Light;
    height:22px;
    display:block;
    width:53px;
    background: rgba(255,255,255,0.75);
    margin:0px;
    font-size: 13px;
    padding-top: 6px;
    padding-left: 8px;
    color:#333;
    font-weight: bold;
    border-right:1px solid #a7a3a2;
}

div#report-type-filter ul li a#media_0{
    height:22px;    
    padding-top: 6px;
    padding-left: 6px;
    color:#333;
}

div#report-type-filter ul li a#media_0 span{
    font-size: 13px;
    font-weight: bold;
}


div#report-type-filter ul li a#media_4{
    background-image: url('../images/media_filter_sprite.png');
    background-position: 0px -2px;
}
div#report-type-filter ul li a#media_1{
    background-image: url('../images/media_filter_sprite.png');
    background-position: -35px -1px;
}
div#report-type-filter ul li a#media_2{
    background-image: url('../images/media_filter_sprite.png');
    background-position: -78px -1px;
}

div.slider-holder {
    width:939px;
    background: rgba(255,255,255,0.75);
    margin-top: 0px;
    top: -40px;
    position: relative;
    padding-right: 11px;
}

div.graph-holder{
    width:960px;
    top: -45px;
    position: relative;
    background: rgba(255,255,255,0.75);
}

div.report_row div.report_map{
    overflow:visible;
}

#geometryPointsHolder {
position: absolute;
bottom: 0;
display: none;
width: 100%;
background-color: #00008b;
opacity: 1.0;
z-index: 5002;
height: 140px;
}

#geometryPointsClose{
    z-index: 5004;
    position: absolute;
    top: 2px;
    right: 0;
    width: 18px;
    height: 18px;
    background: url("../../../media/img/openlayers/layer-switcher-minimize.png") no-repeat;
    cursor: pointer;
}

#pointsEditHolder{
    padding:20px;
}
#pointsEditHolder label{
    color: white;
}

#pointsEditHolder .short_input{
    width:50px;
}

#followAspectRatioDiv{
    border: solid 1px #333;
    position: relative;
    width:70px;
    float:left;
    height:30px;
    padding:5px;
    background:white;
    left:-365px;
    top:40px;
    display:none;
}

li a span.swatch img{
    height: 20px;
    border:none;
}

.swatch{
    height:20px;
    width:20px;
    margin:5px;
    border:none;
}

.category-title{
    margin-top:6px;
    padding-left:33px;
    font-size:16px;
}
span.layer-name{
    position:relative;
    top:6px;
    font-size:13px;
    margin-left:6px;
}

.color_swatch{
    display:none;
}

a.active .color_swatch,
a:hover .color_swatch{
    position: relative;
    width: 5px;
    height: 30px;
    float: left;
    left: -5px;
    display:block;
}

.cat_icon{
    margin:5px;
}
a.active .cat_icon, a.active .swatch,
a:hover .cat_icon, a:hover .swatch{
    margin-left:0px;
}

.right-col div#layers-box li a.active .swatch,
div#layers-box li a.active .swatch
{
    margin-left:5px;
}

div#layers-box{
    top:10px;
    position:relative;
}

a div.layerMeta{
    display:none;
}

a.active div.layerMeta{
    display:block;
    padding-left:30px;
    margin-top:12px;
    padding-right:5px;
    border-top:solid 1px black;
}


div.olControlScaleLine{
    display:none;
}